/*-------------------------------------- Estilado General -------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
  font-family: Manrope;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0F172A;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

img {
  max-width: 40px;
}

svg {
  color: #0F172A;
}

p {
  font-size: 16px;
  color: #475569;
}

/*-------------------------------------- Estilado del aside -------------------------------------- */

.sidebar {
  background-color: #FFFFFF;
  min-width: 200px;
  max-width: 300px;
  width: 20%;
  padding: 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px;
  border-right-color: #BFD4FF;
  border-right-style: inset;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.selected-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #e4f1f7;
  border-radius: 10px;
}

.status-offline {
  color: #686e73;
  font-size: 14px;
}

.status-online {
  color: #686e73;
  font-size: 14px;
}

.status-offline::before {
  content: "🔴 ";
}

.status-online::before {
  content: "🟢 ";
}

.sidebar input {
  border: 2px solid transparent;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background-color: #E8F3FF;
  border-color: #CFE1FF;
  border-width: 1px;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 16px;
}


.sidebar input:hover,
.sidebar input:focus {
  border: 2px solid #3B82F6;
  outline: none;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}



/*-------------------------------------- Estilado del main -------------------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.active-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
  border-bottom-color: #BFD4FF;
  border-bottom-style: inset;
}

.active-person {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.chat-header i {
  display: none;
}

.chat-actions {
  padding: 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  flex: 1;
  padding: 15px;
  gap: 15px;
  border: none;
}

.message-sent {
  align-self: flex-end;
  background-color: #e4f1f7;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  color: #202020;
  font-size: 16px;
}

.message-recived {
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  color: #202020;
  font-size: 16px;
}

.timestamp {
  color: #64748B;
  font-size: 12px;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
  border-top: 1px;
  border-top-color: #BFD4FF;
  border-top-style: outset;
}

.chat-footer input {
  border: 2px solid transparent;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background-color: #E8F3FF;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 16px;
}

.chat-footer input:hover,
.chat-footer input:focus {
  border: 2px solid #4A9DEC;
  outline: none;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

/*-------------------------------------- Responsive y Breakpoints -------------------------------------------------*/

/*-------------------------------------- Primer Breakpoint: MiniScreen? -------------------------------------------------*/

@media(max-width: 350px) {

  .sidebar {
    display: none;
  }

  .message-sent {
    max-width: 100%;
  }

  .message-recived {
    max-width: 100%;
  }

  .btn-attach {
    display: none;
  }

  .btn-picture {
    display: none;
  }

  .active-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }

}

/*-------------------------------------- Segundo Breakpoint: Celular -------------------------------------------------*/

@media(max-width: 576px) {

  .sidebar {
    display: none;
  }

  .message-sent {
    max-width: 85%;
  }

  .message-recived {
    max-width: 85%;
  }

  .active-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }

}

/*-------------------------------------- Tercer Breakpoint: Tablet -------------------------------------------------*/

@media(max-width: 780px) {

  .sidebar {
    max-width: 200px;
  }

  .menu {
    display: none;
  }

  .message-sent {
    max-width: 85%;
  }

  .message-recived {
    max-width: 85%;
  }

  .btn-action {
    display: none;
  }

  .active-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }

}

/*-------------------------------------- Cuarto Breakpoint: Desktop -------------------------------------------------*/

@media(min-width: 780px) {

  .menu {
    display: none;
  }

  .message-sent {
    max-width: 50%;
  }

  .message-recived {
    max-width: 50%;
  }

}